<h1>Conversations#index</h1>
<p>Find me in app/views/conversations/index.html.erb</p>
<br><br>
<% @conversations.each do |conversation|%>
<%  other_user = conversation.users.where("user_id != #{current_user.id}").first %>
<%= link_to other_user.username, '/conversations/' + conversation.id.to_s %>
<br>
<% if conversation.is_read?(current_user.id) %>
<% 	read = "READ" %>
<% else %>
<%  read = "UNREAD" %>
<% end %>
<% if conversation.last_message.user_id == current_user.id %>
<%= current_user.username+"(SELF): "+conversation.last_message.message+":: AT: #{conversation.last_message_at}"+" ====> "+read %>
<% else %> 
<%= other_user.username+": "+conversation.last_message.message+":: AT: #{conversation.last_message_at}"+" ====> "+read %>
<% end %>
<br><br>
<% end %>
