<h1>Conversations#show</h1>
<p>Find me in app/views/conversations/show.html.erb</p>

<br><br>
<% @messages.each do |message|%>
<% if message.user_id != current_user.id %>
<%= @other_user.username %>:
<br>
<%= message.message+" ===> Sent At: #{message.created_at}" %>
<br><br>
<% else %> 
<%= current_user.username %>:
<br>
<%= message.message+" ===> Sent At: #{message.created_at}" %>
<br><br>
<% end %>
<br><br>
<% end %>
<form class="form-inline" role="form">
  <div class="form-group">
    <input id="conversation_message" type="text" class="form-control" placeholder="Enter a message">
  </div>
  <button id="conversation_message_submit" type="submit" class="btn btn-default">Sign in</button>
</form>
