
 <form id="new_gift_request_form" role="form" action="/gift_requests" method="post">
    <P>
    <label for="newgiftrequest">Gift Request</label><br />  
    <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>" />
    <input type="hidden" name="gift_request[user_id]" value="<%= current_user.id %>" id='new_gift_request_current_user_id' >
    <div class="form-group">

    Title: <input type="text" name="gift_request[title]" id="new_gift_request_title">
	</div>
    Description: <input type="text" name="gift_request[description]" id="new_gift_request_description"><BR>
    <input type="radio" name="gift_request_public" id="new_gift_request_public" value="1" checked>Public<br>
    <input type="radio" name="gift_request_public" id="new_gift_request_private" value="0">Private

    <h4> Tags </h4>
    <div id='tag_holder'>

    </div>

    <div style="margin:0;padding:0;display:inline">
        <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>" />
    </div>
        <input data-autocomplete="autocomplete_tag_name" id="autocomplete_tag"/>
        <input id="add_tag_to_gift_request" type="submit" value="Add">
    <br>
    <button id="create_gift_request_button" type="submit" value="Submit" onclick="return validateform();">test</button>
	<input type="button" onclick='

	var title = document.getElementById("new_gift_request_title");
	var desc= document.getElementById("new_gift_request_description");
	//alert(title);
	if(title.value == null || title.value =="")
		title.setAttribute("class", "form-group has-error");
	else
		title.setAttribute("class", "form-group");

' value="Submit form">
    </P>
 </form>
