<script>
function validate(i)
{
	if(i==1)
	{
		document.getElementById("gift_request_public").className = "active btn btn-primary btn-sm";
		document.getElementById("gift_request_private").className = "btn btn-sm";
		document.getElementById("public").value = true;
		var cb = document.getElementById('boxes').getElementsByTagName('input');
		for (var i = 0; i < cb.length; i++) {
		cb[i].checked = false;
	}

	}
	else
	{
		document.getElementById("gift_request_private").className = "active btn btn-primary btn-sm";
		document.getElementById("gift_request_public").className = "btn btn-sm";
		document.getElementById("public").value = false;
	}
}

$(document).ready(function(){
	$('#new_gift_request_description').val("");
	$('#whitelistkeyword').val("");
	$('#blacklistkeyword').val("");
});



function usersearchvalidation(div)
{
		var divname = div+"listkeyword"; 
		var divval = document.getElementById(divname).value;
		$('#'+div+'usersearchtable').html("");
		if(divval.length == 0 || divval == null)
		{
			$('#'+div+'listerror').html("<h4>Field cannot be left blank</h4>");
			return false;
		}
		else
		{
			$('#'+div+'listerror').html("");
			// $("#"+div+"usersearchmodal").css("display", "inline");
			 onclickusersearch(divname,div);
		}
}


</script>
<style type="text/css">textarea {
	resize: none;
	}

	.scrollit {
    overflow:scroll;
    height:300px;
}

.scrollbody {
    overflow:scroll;
    height:100px;
    padding-left: 18px;
}
</style>

	<form id="new_gift_request_form" class="form-horizontal" role="form" action="" method="">
		<input id="new_gift_request_authenticity_token" name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>" />
		<input type="hidden" maxlength="50" name="gift_request[user_id]" value="<%= current_user.id %>" id='new_gift_request_current_user_id' >    

		<div class="form-group">
			<label for="new_gift_request_title" class="col-sm-4 control-label">Title:</label>
			<div class="col-sm-4">
				<input  maxlength="100" type="text" name="gift_request[title]" class="form-control" id="new_gift_request_title" placeholder="Title">
			</div>
		</div>

		<div class="form-group">
			<label for="new_gift_request_description" class="col-sm-4 control-label">Description:</label>
			<div class="col-sm-4">
				<textarea rows="5" cols="50" name="gift_request[description]" class="form-control" id="new_gift_request_description" placeholder="Description">
				</textarea>
			</div>
		</div>

		<div class="form-group">
			<label class="col-sm-4 control-label">Accessor:</label>
			<div class="col-sm-4">
				<input id="public" name="public" type="hidden" value="true"/>
				<button type="button" id="gift_request_public" name="gift_request_public" class=" active btn btn-primary btn-sm" onclick="validate('1')">Public</button>
				<button type="button" id="gift_request_private" name="gift_request_private" class=" btn  btn-sm" onclick="validate('2')" data-toggle="modal" data-target="#myModal">Private</button>
				<input id="black_list" name="black_list" type="hidden" value="" />
				<input id="white_list" name="white_list" type="hidden" value="" />
			</div>
		</div>

		<div class="form-group">
			<label class="col-sm-4 control-label">Tags:</label>
			<div class="col-sm-3">
				<div style="margin:0;padding:0;display:inline">
				</div>
				<input maxlength="20"  data-autocomplete="autocomplete_tag_name" class=" form-control" id="autocomplete_tag" placeholder="Tags"/>

			</div>

			<div>
				<input id="add_tag_to_gift_request" style="padding-left:32px; padding-right:32px;" class=" btn btn-default" type="submit" value="Add">

			</div>
		</div>
		<div id='tag_holder' class="" align="center">
		</div>
		<br>
		<div class="form-group">
			<div class="col-sm-offset-5" style="padding-left:60px">
				<button id="create_gift_request_button" type="submit"  class="btn btn-default" value="Submit">Submit</button>
			</div>
		</div>
	</form> 
	<br>
	<br>

<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
					<div class="modal-dialog">
						<div class="modal-content">
							<div class="modal-header">
								<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only" id="mainmodalclose">Close</span></button>
								<h4 class="modal-title" id="myModalLabel">Private Post Settings</h4>
							</div>
							<div class="modal-body">
								
									
										Who can view this:
									<br>
										<div id="boxes">
											<div class="checkbox">
												<label>
													<input value="-1" type="checkbox" id="followerscheckbox"> Followers
												</label>
											</div>
										
									
											<div class="checkbox">
												<label>
													<input value="-2" type="checkbox" id="followingcheckbox"> Following
												</label>
											</div>
											<div class="checkbox">
												<label>
													<input value ="0" type="checkbox" id="alluserscheckbox"> All Users
												</label>
											</div>
										</div>
										<br>
										<div style="border-top: 1px solid gray"><br>
										Specific Users who can view this:

									
										<div class="row">
											<div class="col-sm-6"><input maxlength="20" class="form-control" id="whitelistkeyword" placeholder="Enter Username">
											</div>
											<div class="col-sm-2"><input id="privateusers" class=" btn btn-warning" type="submit" value="Search "  onclick="return usersearchvalidation('white')" data-toggle="modal"  data-target="#whiteusersearchmodal">
											</div>
										</div>

										<div class="row" id ="">
											<div class="scrollbody">
											<table  id="whitelistusers" style="overflow:auto">

											</table>
											</div>
										</div>
										</div>
										<br>
										<div style="border-top: 1px solid gray"><br>
										Specific Users who can not view this:

									
										<div class="row">
											<div class="col-sm-6"><input maxlength="20" class="form-control" id="blacklistkeyword" placeholder="Enter Username">
											</div>
											<div class="col-sm-2"><input id="privateusers" class=" btn btn-warning" type="submit" value="Search" onclick="return usersearchvalidation('black')" data-toggle="modal" data-target="#blackusersearchmodal" >
												
											</div>

										</div>

										<div class="row" id ="">
											<div class="scrollbody">
											<table id="blacklistusers" style="overflow:auto">

											</table>
											</div>
										</div>

										</div>



							</div>
							<div class="modal-footer">
								<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
								<button type="button" class="btn btn-primary" onclick="savechanges()">Save changes</button>
							</div>
						</div>
					</div>
				</div>


	<!-- Modals go in the end -->
		<!-- White user Modal -->
		<div class="modal fade" id="whiteusersearchmodal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" id="whiteusersearchmodalbutton" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
						<h4 class="modal-title" id="myModalLabel"> Users </h4>
					</div>
					<div class="modal-body" style="overflow:auto" id="whiteusersearchbody">
						<div class="row" style="padding-left:18px;color:red" id ="whitelisterror">
						</div>
						<div class="scrollit">
						<table class="table " id="whiteusersearchtable" style="overflow:auto">
						</table>
					</div>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-default" data-dismiss="modal" onclick="cleartext()">Close</button>
						<button type="button" class="btn btn-primary" onclick="addusers('whitelist','whiteusersearchtable','whitelistusers','#whiteusersearchmodalbutton')">Add</button>
					</div>
				</div>
			</div>
		</div>

		<!-- Black user Modal -->
		<div class="modal fade" id="blackusersearchmodal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" id="blackusersearchmodalbutton" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
						<h4 class="modal-title" id="myModalLabel"> Users </h4>
					</div>
					<div class="modal-body" style="overflow:auto" id="blackusersearchbody">
						<div class="row" style="padding-left:18px;color:red" id ="blacklisterror">
											
										</div>

						<table class="table" id="blackusersearchtable">

						</table>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-default" data-dismiss="modal" onclick="cleartext()">Close</button>
						<button type="button" class="btn btn-primary" onclick="addusers('blacklist','blackusersearchtable','blacklistusers','#blackusersearchmodalbutton')">Add</button>
					</div>
				</div>
			</div>
		</div>
