<style>

.padd
{
    width:120px;
    padding-left: 2%;
}
.nav-pills > li.active > a,
.nav-pills > li.active > a:hover,
.nav-pills > li.active > a:focus {
   font-style: italic;
   font-weight: bold;
}
</style>

<div class="container-fluid" id="subnav" align="center" style="max-width:750px">   
    <ul class="nav nav-pills nav-justified " style="padding-top:25px;">
        <li class="padd"><a href="/feed">Feed</a></li>
        <li class="padd"><a href="/gift_requests">Gift Requests</a></li>
        <li class="padd"><a href="/tags">Tags</a></li>
        <li class="padd"><a href="/users">Users</a></li>
        <li class="padd"><a href="/gift_requests/new">Post Request</a></li>
    </ul>
</div>

<div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".nav-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
    </button>
</div>

<br>
<br>
<br>

