<ul class="nav nav-pills">
  <li class="active"><a href="#">Change Password</a></li>
	<li><a href="#">Profile</a></li>
  <li><a href="#">Messages</a></li>
</ul>

<hr/>
<%= render :template => 'users/edit_password_form', 
                    :locals => { :resource => current_user, :resource_name => "user" } %>