<% content_for :title, "Users" %>
<style type="text/css">


.tag-cell
{
  width: 180px;
  border-bottom: 1px dotted #808080;
  padding-bottom: 12px;
  padding-right: 6px;
  padding-top: 6px;
  vertical-align: top;
}

.excerpt
{
  font-size: 12px;
  height: 39px;
  line-height: 14px;
  overflow: hidden;
  margin-bottom: 4px;
}

.userimage{
  float: left;
  width: 48px;
  height: 48px;
}

</style>

<%= render :partial => 'gift_requests/subnav' %>

<script type="text/javascript">
var node = document.getElementById("subnav").getElementsByTagName("li")[3];
node.setAttribute("class", "active padd");
</script>
<br />

<div class="container">
  <!-- Nav tabs -->
  <ul class="nav nav-tabs">
    <li class="active"><a href="#popular" data-toggle="tab">Popular</a></li>
    <li><a href="#name" data-toggle="tab">Name</a></li>
    <li><a href="#new" data-toggle="tab">New</a></li>
  </ul>


  <!-- Tab panes -->
  <div class="tab-content">
    <div class="tab-pane fade in active" id="popular">

      <div class="row">
        <% @users = User.all %>
        <% @users.each do |user| %>
        <div class="col-sm-3">
          <div class="tag-cell">
            <div class="excerpt">
              <div class="userimage">
              <img src="/assets/gift.png" alt="Sample Image" height="48x" width="48px"> 
              </div>
              <%= link_to user.username, user %>
              <br>
              <b><%= user.points %></b>
              <br>
              <%= user.rank %></b>
            </div>
          </div> 
        </div>
        <% end %>
      </div>
    </div>
    <div class="tab-pane fade" id="name">



    </div>
    <div class="tab-pane fade" id="new">...
    </div>
  </div>

</div>