<style type="text/css">
.inline
{
	display: inline
}


.jumbotron{
	background-color:#DADADA;
	color:#000000;
}



</style>

<div class="container">
<ul class="nav nav-pills">
		  <li class="active"><a href="#">Change Password</a></li>
		</ul>
	<div class="jumbotron">

		<%= render :template => 'users/edit_password_form', 
		:locals => { :resource => current_user, :resource_name => "user" } %>

	</div>
</div>


<br/><br/>
