<style type="text/css">
.inline
{
	display: inline
}


.jumbotron{
	background-color:#c0c0c0;
	color:#000000;
}



</style>

<div class="container">

	<div class="jumbotron">

		<h3>Change password</h3>
		<%= render :template => 'users/edit_password_form', 
		:locals => { :resource => current_user, :resource_name => "user" } %>
	</div>
</div>


<br/><br/>
