<style type="text/css">
.inline
{
	display: inline
}
body{
	background-color: #008080;
	color: #ffffff;
}

.jumbotron{
	background-color:#c0c0c0;
	color:#000000;
}

@media {
	html {
		overflow: -moz-scrollbars-vertical; 
		overflow-x: scroll; 
		overflow-y: scroll;
	}
}

.container {
	width: 1024px;
	display: block;
}
</style>


<!-- <div class="container">
	<h2>Account Settings</h2>
	<div class="container mycontainer">
		<div class="row">
			<div class="col-xs-2 active">
				<a href="pseudo-link">Account Info</a>
			</div>
			<div class="col-xs-2">
				<a href="pseudo-link">Edit Profile</a>
			</div>
			<div class="col-xs-2">
				<a href="pseudo-link">Change Password</a>
			</div>
			<div class="col-xs-2">
				<a href="pseudo-link">Email Preferences</a>
			</div>
			<div class="col-xs-2">
				<a href="pseudo-link">Feed Preferences</a>
			</div>
			<div class="col-xs-2">
				<a href="pseudo-link">Rewards</a>
			</div>
		</div>
	</div>
	<br/>
	<div class="jumbotron">
		
	</div>	
</div> -->
<div class="container">
	<div class="mycontainertab">
		<ul class="nav nav-tabs">
			<li class="active"><a href="#home" data-toggle="tab">Account Info</a></li>
			<li><a href="#profile" data-toggle="tab">Edit Profile</a></li>
			<li><a href="#messages" data-toggle="tab">Change Password</a></li>
			<li><a href="#settings" data-toggle="tab">Email Preferences</a></li>
			<li><a href="#settings" data-toggle="tab">Feed Preferences</a></li>
			<li><a href="#settings" data-toggle="tab">Rewards</a></li>
		</ul>
	</div>
	<!-- Tab panes -->
	<br/>

	<div class="jumbotron">
		<div class="tab-content">
			<div class="tab-pane active" id="home">
				<div class="row">
					<div class="col-xs-1">
						sdfkljdslfjs
					</div>
					<div class="col-xs-1">
						sdfkljdslfjs
					</div>
				</div>
				<div class="row">
					<div class="col-xs-1">
						sdfkljdslfjs
					</div>
					<div class="col-xs-1">
						sdfkljdslfjs
					</div>
				</div>

			</div>
			<div class="tab-pane" id="profile">...</div>
			<div class="tab-pane" id="messages">...</div>
			<div class="tab-pane" id="settings">...</div>
		</div>
	</div>
</div>


<br/><br/>