<style type="text/css">
.inline
{
  display: inline
}
body{
  background-color: #008080;
  color: #ffffff;
}

@media {
  html {
    overflow: -moz-scrollbars-vertical; 
    overflow-x: scroll; 
    overflow-y: scroll;
  }
}

.container {
  width: 1024px;
  display: block;
}
</style>


<div class="container">
	<h2>Account Settings</h2>
	<div class="container mycontainer">
		<div class="row">
			<div class="col-xs-2">
				<a href="pseudo-link">Account Info</a>
			</div>
			<div class="col-xs-2">
				<a href="pseudo-link">Edit Profile</a>
			</div>
			<div class="col-xs-2">
				<a href="pseudo-link">Change Password</a>
			</div>
			<div class="col-xs-2">
				<a href="pseudo-link">Email Preferences</a>
			</div>
			<div class="col-xs-2">
				<a href="pseudo-link">Feed Preferences</a>
			</div>
			<div class="col-xs-2">
				<a href="pseudo-link">Rewards</a>
			</div>
		</div>
	</div>
	<br/>
	<div class="jumbotron">
		sjdsdfsdfj
	</div>	
</div>

<br/><br/>