<style>
.inline
{
	display:inline;
}
.scroll
{
	height:80px;
	overflow:auto;
	word-wrap:break-word;
}
.btn-danger{
	color:#000;
}

.nav-pills > li.active > a,
.nav-pills > li.active > a:hover,
.nav-pills > li.active > a:focus {
	font-style: italic;
	font-weight: bold;
}

.usercontent
{	
	border: 1px solid #e9e9e9;
}	

.usercontent .createdby
{
	float: right;
	top:0;
	right: 0;
}

.usercontent .commentarea
{
	border:1px solid #e9e9e9;
	background-color:#f6f7f8;
	
}

.commentarea .comment
{
	margin-bottom:10px;
}
.comments .timestamp
{
	color:#9197a3;
}

</style>

<% content_for :title, "Gift Requests" %>

<%= render :partial => 'gift_requests/subnav' %>

<script type="text/javascript">
var node = document.getElementById("subnav").getElementsByTagName("li")[0];
node.setAttribute("class", "active padd");
</script>


<div class="container cc">


	<div align = "center">
		<div class="inline">
			<% if flash[:notice] %>
			<p id="flash_alert" style="color:red"><%= flash[:notice] if flash[:notice] %></p>
			<% end %>
		</div>
	</div>
<!-- 
  <a href="?filter=top">Top</a>
  <a href="?filter=popular">Popular</a>
-->
<div align="center">

	<br>
	

	<br>
</div>

<div class="tab-content">
	<div class="tab-pane fade in active" id="all" align="center">
		<!-- <br> -->

		<div class="container-fluid">
			<table class="table" align="center" style="background-color:#ffffff; width:90%;">
				<!-- xxxxxxxxxxxxxxxxxxx  -->

				<!-- start loop -->
				<tr>
					<td >
						<!-- xxxxxxxxxxxxxxxxxxx  -->

						<div class="row" align="center" style="padding-top:10px;">
							<div class="inline col-xs-12 col-md-8" align="left" style="padding-left:40px;"><p><font color="purple"><b>Norman</b></font> liked <font color="purple">Sidney</font>'s comment.</p>
							</div>
						</div>
						<div class="row">
							<div class="inline col-xs-12 col-md-12" style="padding-left:40px;">
								<div class="usercontent">
									<font color="purple" size="3px"> [Gift request Title]</font>
									<div class="createdby">
										<strong>Created By:&nbsp;</strong>
										<a href="/users/2">
											Norman
										</a>
										<br>
										<strong>Rank:&nbsp;</strong>
										Bronze  
										1550
										<br>
										<br>
										<strong> Last Answer By: &nbsp;</strong>Sidney
									</div>
									<br>
									<p><b>Description: </b>I am in need of a lot of items please help.</p>
									<br>
									<a class="label label-info" href="/tags/21 ">asse</a>
									<div align="left">
										<div align="center">
											<span> Asked on: Jul 19, 2014 23:09
											</span><strong>&nbsp;&nbsp;&nbsp;&middot;&nbsp;&nbsp;&nbsp;</strong>
											Comments:&nbsp;<strong>1&nbsp;&nbsp;&nbsp;&nbsp;&middot;&nbsp;&nbsp;&nbsp;</strong>
											Views:&nbsp;<strong>2&nbsp;&nbsp;&nbsp;&nbsp;&middot;&nbsp;&nbsp;&nbsp;</strong>
											Likes:&nbsp;<strong>0</strong> 
										</div>
									</div>

									<!-- Loop this area for comments -->
									<div class="commentarea">
										<div class="comments">
											<font color="purple"><b>Sidney</b>:</font> Maybe you should purchase a bike.

											<div class="timestamp">
												Jul 21, 2014 02:48 
												<img alt="lgo" class="inline " height="15" src="/assets/like.png" width="15">
												<img alt="lgo" class="inline " height="15" src="/assets/dislike.png" width="15">  
											</div>
										</div>
									</div>
									<!-- End of loop -->

									<div class="commentarea">
										<div class="comments">
											<font color="purple"><b>Tian</b>:</font> Maybe you should purchase a bike.

											<div class="timestamp">
												Jul 21, 2014 02:48 
												<img alt="lgo" class="inline " height="15" src="/assets/like.png" width="15">
												<img alt="lgo" class="inline " height="15" src="/assets/dislike.png" width="15">  
											</div>
										</div>
									</div>
								</div>
							</div>

						</div>
						<div align="center">
							<hr  style="width:60%; padding-bottom:0; margin-bottom:0; border: 1px solid #D8D8D8">
						</div>




						<!-- xxxxxxxxxxxxxxxxxxx  -->
						<div class="row" align="center" style="padding-top:10px;">
							<div class="inline col-xs-12 col-md-8" align="left" style="padding-left:40px;"><p><font color="purple"><b>Norman</b></font> created a gift request post called <font color="purple">blahblah</font>.
							</div>
						</div>
						<div class="row">
							<div class="inline col-xs-12 col-md-12" style="padding-left:40px;">
								<div class="usercontent">
									<font color="purple" size="3px"> Blahblah</font>
									<div class="createdby">
										<strong>Created By:&nbsp;</strong>
										<a href="/users/2">
											Norman
										</a>
										<br>
										<strong>Rank:&nbsp;</strong>
										Bronze  
										1550
										<br>
										<br>
										<strong> Last Answer By: &nbsp;</strong>Sidney
									</div>
									<br>
									<p><b>Description: </b>I am in need of a lot of items please help.</p>
									<br>
									<a class="label label-info" href="/tags/21 ">asse</a>
									<div align="left">
										<div align="center">
											<span> Asked on: Jul 19, 2014 23:09
											</span><strong>&nbsp;&nbsp;&nbsp;&middot;&nbsp;&nbsp;&nbsp;</strong>
											Comments:&nbsp;<strong>1&nbsp;&nbsp;&nbsp;&nbsp;&middot;&nbsp;&nbsp;&nbsp;</strong>
											Views:&nbsp;<strong>2&nbsp;&nbsp;&nbsp;&nbsp;&middot;&nbsp;&nbsp;&nbsp;</strong>
											Likes:&nbsp;<strong>0</strong> 
										</div>
									</div>

									<!-- Loop this area for comments -->
									<div class="commentarea">
										<div class="comments">
											<font color="purple"><b>Sidney</b>:</font> Maybe you should purchase a bike.

											<div class="timestamp">
												Jul 21, 2014 02:48 
												<img alt="lgo" class="inline " height="15" src="/assets/like.png" width="15">
												<img alt="lgo" class="inline " height="15" src="/assets/dislike.png" width="15">  
											</div>
										</div>
									</div>
									<!-- End of loop -->

									<div class="commentarea">
										<div class="comments">
											<font color="purple"><b>Tian</b>:</font> Maybe you should purchase a bike.

											<div class="timestamp">
												Jul 21, 2014 02:48 
												<img alt="lgo" class="inline " height="15" src="/assets/like.png" width="15">
												<img alt="lgo" class="inline " height="15" src="/assets/dislike.png" width="15">  
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						</td>

					</tr>


					<!-- end loop -->
				</table>


				<!-- xxxxxxxxxxxxxxxxxxx  -->
			</div>
		</div>


	</div>

</div> <!-- end of main cc div -->  
<br>
<br>
<br>
<br>