<style type="text/css">
ul{
	padding-left: 40px;
}
</style>
<!-- 
<div class="container">
	<div id="table">
		<table class="table table-hover">
		  <thead>
		        <tr>
		            <th><h4>Privacy Policies</h4></th>
		        </tr>
		  </thead>
		  <tbody>
		        <tr>
		            <td><a href="#recieve">Information received and how it is used</a></td>
		        </tr>
		        <tr>
		            <td><a href="#sharing">Sharing on Facebook</a></td>
		        </tr>
		        <tr>
		        	<td><a href="#advertising">Advertising on Easygifts</a></td>
		        </tr>
		        <tr>
		        	<td><a href="#cookies">Cookies</a></td>
		        </tr>
		        <tr>
		        	<td><a href="#others">Other things you need to know</a></td>
		        </tr>
		  </tbody>
		</table>
	</div>

	<br>
	<br>
	<br>

	<div id="recieve">
		<h4>Information we recieve and how it is used</h4>
		<p>
			We receive a number of different types of information about you, including:
			<br>
			Your information: is the information that's required when you sign up for the site, as well as the information you choose to share.
			<br>
			Registration information: When you sign up for EasyGifts, you are required to provide information such as your name, email address, birthday, and gender. In some cases, you may be able to register using other information, like your telephone number.
		</p>
	</div>
	
	<br>
	<div id="sharing">
		<h4>Sharing on Facebook</h4>

	</div>
	
	<br>
	<div id="advertising">
		<h4>Advertising on Easygifts</h4>

	</div>
	
	<br>
	<div id="cookies">
		<h4>Cookies</h4>

	</div>
	
	<br>
	<div id="others">
		<h4>Other things you need to know</h4>

	</div>

	<br>
	<br>
	<br>
	<br>

</div> -->

<div class="container">
	<h3>Privacy Agreement</h3>
	<br>
	<div class="panel-group" id="accordion">
		<div class="panel panel-default">
			<div class="panel-heading">
				<h4 class="panel-title">
					<a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
						<h4>Information we receive and how it is used</h4>
					</a>
				</h4>
			</div>
			<div id="collapseOne" class="panel-collapse collapse">
				<div class="panel-body">
					<p><b>Registration Information</b>
						<br>
						This is the information you directly provide us, either when registering or when using our services (e.g. Gift Request posts and comments). When you sign up for EasyGift, you are required to provide information such as your email address and username.</p>

						<p><b>Information you share</b>
							<br>
							This is the information you directly choose to share, either when you comment on a post or create a post yourself(e.g. Gift Request). It may also include information you share to us if you choose communicate with us. </p>

							<p><b>Other information we receive about you</b>
								<br>
								<ul>
									<li>Data received from views on certain gift related posts.</li>
									<li>We receive data whenever you create tags when you create a gift request.</li>
									<li>Sometimes we may get data from out advertising partners that would help us understand and deliver more relevant ads to our users.</li>
								</ul>
							</p>



							<p><b>Usage of information</b>
								<br>
								We will not share your personal information with any third parties without your consent. We may use your information to verify identity, such as account verification. We may use the information we receive from you to provide ads that are more relevant to you. That is, we would be able to help use your information to make the site a better experience for you and others. Some ways we use your information are:
								<ul>
									<li>To show relevant advertisements to you.</li>
									<li>To measure the quality of our website to enhance the experience for our users.</li>
									
								</ul>
							</p>
						</div>
					</div>
				</div>
				<div class="panel panel-default">
					<div class="panel-heading">
						<h4 class="panel-title">
							<a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
								<h4>Sharing on Third party websites</h4>
							</a>
						</h4>
					</div>
					<div id="collapseTwo" class="panel-collapse collapse">
						<div class="panel-body">
							<p>To customize your experience on the site, and to simplify the process of registration, we have provided you a means to register through a third party service. Information may be shared when you register with this method. 
							</p>

							<p>Linking your account with a third party service, like facebook, allows you to share content from the site onto the third party service. 
								Any information you provide to third party sites such as facebook will be covered by policies of the third party sites. It is the third party sites responsibility to protect the information that they receive from you. The third party sites are operated by companies outside of EasyGift's control. Please be sure to review the privacy policies and practices of these third party sites before disclosing any information.</p>
							</div>
						</div>
					</div>
					<div class="panel panel-default">
						<div class="panel-heading">
							<h4 class="panel-title">
								<a data-toggle="collapse" data-parent="#accordion" href="#collapseThree">
									<h4>Advertising</h4>
								</a>
							</h4>
						</div>
						<div id="collapseThree" class="panel-collapse collapse">
							<div class="panel-body">
								<p>When we deliver ads, we do not share personally identifiable information with advertisers. We may provide advertisers with information that cannot personally identify you. That is, information that does not have your name or any other personally identifying information. This information will help us serve ads more relevant to you.</p>

								<p>We may show you advertisements that you may find interesting by using the <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne"><font color="purple">Information we receive about you"</font></a> This may include:
									<ul>
										<li>Information you provide during registration.</li>
										<li>Things you have posted in Gift Request or Comments section.</li>
										<li>Tags you have been involved in.</li>
									</ul>		
								</p>

								<p>We run ads based on the criteria that the advertiser suggests. If someone views an ad, the advertiser might assume that the person meets the criteria of which the ad has been placed. Advertises may sometimes use cookies or similar technology to make ads more effective for users.Please look at <a data-toggle="collapse" data-parent="#accordion" href="#collapsefour">
									<font color="purple">Cookies</font></a>.
								</div>
							</div>
						</div>
						<div class="panel panel-default">
							<div class="panel-heading">
								<h4 class="panel-title">
									<a data-toggle="collapse" data-parent="#accordion" href="#collapsefour">
										<h4>Cookies</h4>
									</a>
								</h4>
							</div>
							<div id="collapsefour" class="panel-collapse collapse">
								<div class="panel-body">
									We may employ "cookies" to help us analyze site usage more accurately. These standard cookie features will allow us to store a small piece of data on your computer about your visit to the site. We do not set any personally identifiable information in cookies. Advertiser and their partners may sometimes use cookies or similar technologies to serve ads more effectively. You may choose to disable cookies, however, your experience ont he site may be diminished and features may not work as intended. 
									<br><br>
									<b>EasyGift's Pracitices on cookies</b>
									<ul>
										<li>Access information when you sign in to provide you a customized setting or last page visited.</li>

										<li>Information that EasyGift collects will be stored in EasyGift servers regardless of what device you use to sign in. Please read more on <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne"><font color="purple">Information we receive and how it is used"</font></a>
										</li>

										<li>Deliver advertisements and content relevant to your interests.</li>
									</ul>
								</div>
							</div>
						</div>
						<div class="panel panel-default">
							<div class="panel-heading">
								<h4 class="panel-title">
									<a data-toggle="collapse" data-parent="#accordion" href="#collapsefive">
										<h4>Other</h4>
									</a>
								</h4>
							</div>
							<div id="collapsefive" class="panel-collapse collapse">
								<div class="panel-body">
									<b>Contact us</b>
									<br>
									If you have questions dealing with the privacy policy, please contact us at feedback@easygifts.com.
									<br>
									<br>
									<b>Notifications</b>
									<br>
									We may send notifications using the contact information you provided for us, such as your email address. 
									<br>
									<br>
									<b>Notice of Change</b>
									<br>
									If we make changes to the policy in any way, we will notify you.
								</div>
							</div>
						</div>
					</div>
					<p align="right">Last Modified: July 15, 2014</p>
				</div>