<style type="text/css">

</style>

<div class="container">
	<div id="table">
		<table class="table table-hover">
		  <thead>
		        <tr>
		            <th><h4>Privacy Policies</h4></th>
		        </tr>
		  </thead>
		  <tbody>
		        <tr>
		            <td><a href="#recieve">Information received and how it is used</a></td>
		        </tr>
		        <tr>
		            <td><a href="#sharing">Sharing on Facebook</a></td>
		        </tr>
		        <tr>
		        	<td><a href="#advertising">Advertising on Easygifts</a></td>
		        </tr>
		        <tr>
		        	<td><a href="#cookies">Cookies</a></td>
		        </tr>
		        <tr>
		        	<td><a href="#others">Other things you need to know</a></td>
		        </tr>
		  </tbody>
		</table>
	</div>

	<br>
	<br>
	<br>

	<div id="recieve">
		<h4>Information we recieve and how it is used</h4>
		<p>
			We receive a number of different types of information about you, including:
			<br>
			Your information: is the information that's required when you sign up for the site, as well as the information you choose to share.
			<br>
			Registration information: When you sign up for EasyGifts, you are required to provide information such as your name, email address, birthday, and gender. In some cases, you may be able to register using other information, like your telephone number.
		</p>
	</div>
	
	<br>
	<div id="sharing">
		<h4>Sharing on Facebook</h4>

	</div>
	
	<br>
	<div id="advertising">
		<h4>Advertising on Easygifts</h4>

	</div>
	
	<br>
	<div id="cookies">
		<h4>Cookies</h4>

	</div>
	
	<br>
	<div id="others">
		<h4>Other things you need to know</h4>

	</div>

	<br>
	<br>
	<br>
	<br>

</div>