<div class="container">
    <div class="row">
    <div class="col-md-3"><img src="http://placehold.it/260x180" alt="Sample Image"></div>
    <div class="col-md-5"><div class="row"><div class="col-md-3"><h2>Librari</h2></div></div>
    <div class="row"><div class="col-md-4"><h4>Last activity: </h4></div>
  </div>
</div>
</div>
</div>


