

<div class="container">

	<div class="container">
		
		<div class="row">
			<div class="col-md-1"><img src="http://www.polyvore.com/cgi/img-thing?.out=jpg&size=l&tid=10397008" class="img-responsive" alt="Responsive image"></div>
			<div class="col-md-1"><button type="button" class="btn btn-info">Questions</button></div>
			<div class="col-md-1"><button type="button" class="btn btn-info">Tags</button></div>
			<div class="col-md-1"><button type="button" class="btn btn-info">Users</button></div>
			<div class="col-md-1"><button type="button" class="btn btn-link"><-Submit New gift request</button></div>
		</div>
	</div>
	<div class="jumbotron">
		<div class="container">
			<div class="row">
				<div class="col-md-2">EasyGift is a question and answer site for People looking for the perfect gift. It is 100% free.</div>
				<div class="col-md-2">Heres how it works</div>
			</div>
		</div>
	</div>
	

	<div class="row">
		<div class="col-md-3"><ul class="nav nav-tabs">
			<li class="active"><a href="#">Hot</a></li>
			<li><a href="#">New</a></li>
			<li><a href="#">Rising</a></li>
		</ul></div>
	</div>

	<div class="table-responsive">
		<table class="table table-striped">
			<tbody>
				<tr>
					<td>votes</td>
					<td>How do I blah blah blah</td>
				</tr>
			</tbody>
		</table>
	</div>

</div>