<div class="container">
  <div class="jumbotron">
  

 		HELLO,
 		<p>Current User: <%= current_user.username %></p>
 		<p>Points: <%= current_user.points %> </p>	
 		<p>Rank: <%= current_user.rank %> </p>	
 		<br><br>
 		  <p> <%= link_to "Logout", destroy_user_session_path, method: :delete %> </p>
  </div>
</div>